{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le profil</h1>

    <div class="col col-sm-12 col-md-6 col-lg-6">
        {{ form_start(edit_email_form) }}
        {{ form_widget(edit_email_form) }}
        <button class="btn btn-dark" type="submit">Changer email</button>
        {{ form_end(edit_email_form) }}
    </div>
    <div class="col col-sm-12 col-md-6 col-lg-6">
        {{ form_start(edit_password_form) }}
        {{ form_widget(edit_password_form) }}
        <button class="btn btn-dark" type="submit">Changer mot de passe</button>
        {{ form_end(edit_password_form) }}
    </div>

    <ul>
        <li>
            <a href="{{ path('user_delete', { 'id': utilisateur.id }) }}">Supprimer le compte</a>
        </li>
    </ul>
{% endblock %}
